$color-1: #DCD5D0; // Light gray - Background color
$color-2: #7b7a6d; // Darker gray - Accent shapes
$color-3: #55554c; // Darkest gray - Attention shapes
$color-4: #D45C10; // Orange - Important titles and page accents
$color-5: #000000; // Black - Font
$color-6: #ffffff; // White - For fonts over the darker and darkest grays
// // additional colors


$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;

/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
	background-color: $color-2;
}

.cd-logo {
	/* logo box style */
	background-color: $color-1;
	width: 120px;

	@include MQ(M) {
		width: 180px;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $color-2;

	li a {
		color: $color-5;
		border-color: lighten($color-2, 5%);
	}

	@include MQ(M) {
		li a {
			color: lighten($color-2, 40%);

			&.selected {
				color: $color-5;
				box-shadow: 0 2px 0 $color-1;
			}

			.no-touch &:hover {
				color: $color-6;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $color-6;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $color-6;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($color-6, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($color-6, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: lighten($color-2, 10%);

	.no-touch &:hover {
		background-color: lighten($color-2, 15%);
	}

	span {
		/* tooltip */
		background: $color-1;
		color: $color-5;

		&::before {
			/* right arrow color */
			border-color: $color-1;
		}
	}
}